# Windows 特定配置
[includeIf "gitdir/i:C:/"]
    path = .gitconfig-windows

# macOS 特定配置
[includeIf "gitdir/i:/Users/"]
    path = .gitconfig-macos

[user]
	name = kola-web
	email = l15567540858@gmail.com
[log]
	date = format:%Y-%m-%d %H:%M:%S

[core]
	whitespace = cr-at-eol
