# Windows 特定配置
[includeIf "gitdir/i:C:/"]
    path = .gitconfig-windows

# macOS 特定配置
[includeIf "gitdir/i:/Users/"]
    path = .gitconfig-macos

[includeIf "gitdir/i:$(bash -c 'grep -qi microsoft /proc/sys/kernel/osrelease && echo true')"]
    path = .gitconfig-wsl

[user]
	name = kola-web
	email = l15567540858@gmail.com
[log]
	date = format:%Y-%m-%d %H:%M:%S

[core]
	whitespace = cr-at-eol
[credential "http://39.106.86.127:3000"]
	provider = generic
