.DS_Store

tmux/.tmux/resurrect
.zsh_history

zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zim
zsh/.config/zsh/.zcompdump.zwc
zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zhistory

alacritty/.config/alacritty/catppuccin

tmux/.tmux/plugins/tmux-resurrect
tmux/.tmux/plugins/tmux-fzf-url
tmux/.tmux/plugins/tmux-copycat
tmux/.tmux/plugins/tmux-continuum
tmux/.tmux/plugins/tmux
tmux/.tmux/plugins/extrakto
zsh/.config/zsh/.zsh_sessions/835DF63F-D927-444E-9A9D-42213054A04F.session
tmux/.tmux/plugins
tmux/.config/tmux/plugins
lazygit/.config/lazygit/state.yml

nushell/.config/nushell/history.txt
