[submodule "alacritty/.config/alacritty/alacritty"]
	path = alacritty/.config/alacritty/alacritty
	url = https://github.com/catppuccin/alacritty.git
[submodule "sketchybar/.config/sketchybar"]
	path = sketchybar/.config/SketchyBar
	url = git@github.com:FelixKratz/SketchyBar.git
[submodule "iterm"]
	path = iterm
	url = git@github.com:catppuccin/iterm.git
[submodule "ranger/.config/ranger/plugins/ranger-zoxide"]
	path = ranger/.config/ranger/plugins/ranger-zoxide
	url = git@github.com:jchook/ranger-zoxide.git
