[submodule "alacritty/.config/alacritty/alacritty"]
	path = alacritty/.config/alacritty/alacritty
	url = https://github.com/catppuccin/alacritty.git
  ignore = dirty
[submodule "sketchybar/.config/sketchybar"]
	path = sketchybar/.config/SketchyBar
	url = https://github.com/FelixKratz/SketchyBar.git
  ignore = dirty
[submodule "iterm"]
	path = iterm
	url = https://github.com/catppuccin/iterm.git
  ignore = dirty
[submodule "ranger/.config/ranger/plugins/ranger-zoxide"]
	path = ranger/.config/ranger/plugins/ranger-zoxide
	url = https://github.com/jchook/ranger-zoxide.git
  ignore = dirty
