[submodule "alacritty/.config/alacritty/alacritty"]
	path = alacritty/.config/alacritty/alacritty
	url = https://github.com/catppuccin/alacritty.git
[submodule "sketchybar/.config/sketchybar"]
	path = sketchybar/.config/SketchyBar
	url = git@github.com:FelixKratz/SketchyBar.git
