#!/bin/sh

zmodule sukkaw/zsh-proxy
zmodule Aloxaf/fzf-tab
zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule jeffreytse/zsh-vi-mode
zmodule romkatv/powerlevel10k --use degit

case "$(uname -s)" in

Darwin)
	# echo 'Mac OS X'
  # zmodule sukkaw/zsh-proxy
	;;

Linux)
	;;

CYGWIN* | MINGW32* | MSYS* | MINGW*)
	# echo 'MS Windows'
	;;
*)
	# echo 'Other OS'
	;;
esac
