""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set easymotion
set surround
set commentary
set argtextobj
set highlightedyank
set textobj-entire
set ReplaceWithRegister
set multiple-cursors
set matchit
set NERDTree
set which-key
set textobj-indent
set peekaboo
set vim-paragraph-motion
set quickscope

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set clipboard+=unnamedplus
set history=100000
set showmode
set so=5
set nu
set rnu
set timeoutlen=1000
set hlsearch
set incsearch
set ignorecase
set smartcase


""" Idea specific settings ------------------
set ideamarks
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
set noerrorbells
set visualbell

""" Mappings --------------------------------
nmap <tab> gt
nmap <S-tab> gT

nmap s gr

omap ii <Plug>textobj-indent-ii
omap ai <Plug>textobj-indent-aI

map H ^
map L $

map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

map ]s /<script<cr>
map ]c ]<script<cr>

map <leader>e :NERDTreeFocus<cr>
map <leader>f <action>(GotoFile)
map <leader>h :noh<cr>
map <leader>w <action>(SaveAll)
map <leader>c :q<cr>
map <leader>o <action>(ActivateStructureToolWindow)
map <leader>m <action>(ReformatCode)
map <leader>, :source  ~/.ideavimrc <cr>

