""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set easymotion
set surround
set commentary
set argtextobj
set highlightedyank
set textobj-entire
set ReplaceWithRegister
set multiple-cursors
set matchit
set NERDTree
set which-key
set textobj-indent
set peekaboo
set vim-paragraph-motion
set quickscope

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set clipboard+=unnamedplus
set history=100000
set showmode
set so=5
set nu
set rnu
set timeoutlen=1000
set hlsearch
set incsearch
set ignorecase
set smartcase
set ideamarks
set iskeyword+=#

""" Idea specific settings ------------------
set ideamarks
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
set noerrorbells
set visualbell

""" Mappings --------------------------------
nmap <tab> gt
nmap <S-tab> gT

map s gr
map ss grr
map S grr

omap ii <Plug>textobj-indent-ii
omap ai <Plug>textobj-indent-aI

map H ^
map L $

map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

map ]s /<script<cr>
map ]c ]<script<cr>

nmap <A-n> <Plug>NextWholeOccurrence
xmap <A-n> <Plug>NextWholeOccurrence
nmap g<A-n> <Plug>NextOccurrence
xmap g<A-n> <Plug>NextOccurrence
xmap <A-x> <Plug>SkipOccurrence
xmap <A-p> <Plug>RemoveOccurrence

map ) <action>(com.mnw.tabmover.actions.MoveTabDownAction)
map ( <action>(com.mnw.tabmover.actions.MoveTabUpAction)

map <leader>E :NERDTreeToggle<cr>
map <leader>e :NERDTreeFind<cr>
map <leader>f <action>(GotoFile)
map <leader>F <action>(FindInPath)
map <leader>h :nohl<cr>
map <leader>w <action>(SaveAll)
map <leader>c :q<cr>
map <leader>o <action>(ActivateStructureToolWindow)
map <leader>m <action>(ReformatCode)
map <leader>, :source  ~/.ideavimrc <cr>
map <leader>pp <action>(ManageRecentProjects)
map <leader>rd :%s/<div/<view/g<cr>:%s/<\/div/<\/view/g<cr>


map gac  <action>(StringManipulation.ToCamelCase)
map gad <action>(StringManipulation.ToKebabCase)
map gal <action>(osmedile.intellij.stringmanip.ToLowerCaseAction)
map gau <action>(osmedile.intellij.stringmanip.ToUpperCaseAction)
map gap <action>(StringManipulation.ToPascalCase)
map gas <action>(StringManipulation.ToSnakeCase)
map gan <action>(StringManipulation.ToScreamingSnakeCase)